@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background-color: ; */
} 


body{
    /* background-color: hsl(192, 100%, 96%); */
    padding: 40px;
    /* background-image: url("bg-hero-desktop.svg"); */
}
header{
    background-color: hsl(192, 100%, 96%);
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    
}

.logo{
    width: 30%;
    margin: 0;
}

header img{
     width: 10%;
}


/* .main{
    display: flex;
    justify-content: space-between;

} */
.mockup_img{
    width: 30%;
    flex-basis: 30%;
    /* flex-direction: ; */

    display: flex;
    justify-content: space-around;
}
.content{
    flex-basis: 50%;
    margin: 3em auto;
}

.content h3{
    font-size: 40px;
    color: black;
    font-family: "Poppins";
}
.content p{
    padding: 2em 0em;
    color: black;
    font-size: 18px;
}
/* .content button{
    background-color: #fff;
    border-radius: 20px;
    font-size: 18px;
    width: 30%;
    
} */

main{
    margin: 30px;
    padding: 40px;
    background-color: #fff;
    /* height: 100vh; */
    display: row;
    justify-content: center;

}

.column1{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    border: 20px;
    border-radius: 30px;
}
.column1 h3{
    font: 0h;

}
.grow-together_img{
    width: 30%;
}
.column2{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    border: 20px;
    border-radius: 30px;
}
.flowing-conversation_img{
    width: 30%;
}
.column2 h3{
    font-size: 40px;
}
.column3{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    border: 20px;
    border-radius: 30px;
}

.your-users_img{
    width: 30%;
}

button{
    margin: 60px;
    padding: 15px 40px;
    border: 0;
    outline: none;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border-radius: 20px;
    font-size: 18px;
    
}
button{
    border: 0;
    padding: 15px 40px;
    border: 0;
    outline: none;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border-radius: 20px;
    font-size: 18px;
    
}


footer{
    background-color: hsl(192, 100%, 9%);
    color: #fff;
}
















@media only screen and (min-width: 1440px) {
    header{
        background-image: url("bg-hero-destop.svg");
    }

}

@media only screen and (min-width: 375px) {
    header{
        background-image: url("bg-hero-mobile.svg");
    }

}

