@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background-color: ; */
} 


body{
    /* background-color: hsl(192, 100%, 96%); */
    padding: 3em;
    /* background-image: url("bg-hero-desktop.svg"); */
}
header{
    background-color: hsl(192, 100%, 96%);
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    
}

.logo{
    width: 60%;
    margin: 20px;
}

header img{
     width: 40%;
}

.btn{
    display: inline;
    color: hsl(192, 100%, 9%);
    background-color: rgb(242, 235, 235);
    margin: 0;
    width: auto;
    
    float: right;
}

/* .main{
    display: flex;
    justify-content: space-between;
} */

.mockup_img{
    width: 30%;
    /* flex-basis: 50%; */
    margin: 80px;
    display: flex;
    justify-content: center;
}
.content{
    /* flex-basis: 50%; */
    margin: 100px 10px 45px 10px;
    float: left;

}

.content h3{
    font-size: 40px;
    color: hsl(192, 100%, 9%);
    font-family: "Poppins";
}
.content p{
    padding: 2em 0em;
    color: hsl(192, 100%, 9%);
    font-size: 18px;
    line-height: 25px;
}

.content button{
    margin: 60px;
    padding: 15px 40px;
    border: 0;
    outline: none;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border-radius: 20px;
    font-size: 18px;   
}

main{
    margin: 30px;
    padding: 40px;
    background-color: #fff;
    /* height: 100vh; */
    display: row;
    justify-content: center;

}

.container1{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border: 20px;
    border-radius: 30px;
    margin: 20px;
}
.container1 h3{
    font-size: px;
    color: hsl(192, 100%, 9%);
    font-family: "Open Sans";
}
.container1 p{
    padding: 2em 0em;
    color: hsl(192, 100%, 9%);
    font-size: 18px;
    line-height: 25px;

}
.grow-together_img{
    width: 30%;
}
.container2{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    border: 20px lightcyan;
    border-radius: 30px;
    margin: 20px;
}
.flowing-conversation_img{
    width: 30%;
}
.container2 h3{
    font-size: 40px;
    color: hsl(192, 100%, 9%);

}
.container2 p{
    padding: 2em 0em;
    color: hsl(192, 100%, 9%);
    font-size: 14px;
    line-height: 25px;

}    
.container3{
    display: flex;
    justify-content: center;
    padding: 40px;
    border: 20px;
    border-radius: 30px;

}
.container3 h3{
    font-size: 40px;
    color: hsl(192, 100%, 9%);

}
.container3 p{
    padding: 10%;
    color: hsl(192, 100%, 9%);
    font-size: 14px;
    line-height: 25px;
    margin: 0;

    
}

.your-users_img{
    width: 30%;
}

.container4 button{
    border: 0;
    padding: 15px 40px;
    border: 0;
    outline: none;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border-radius: 20px;
    font-size: 18px;
    
}
.container4{
    justify-content: center;
    text-align: center;
    
   

}

footer{
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    height: 90%;
    margin: 0;
}
















@media only screen and (min-width: 1440px) {
    header{
        background-image: url("bg-hero-destop.svg");
    }

}

@media only screen and (min-width: 375px) {
    header{
        background-image: url("bg-hero-mobile.svg");
    }

}

